<div class="comment-form">
  <%= form_with(model: [post_image, comment] ) do |f| %>
    <%= f.text_area :comment, rows:"3", class: "form-control", placeholder: "コメントはここから" %><br>
    <%= f.submit "コメントする", class: "btn btn-success" %>
  <% end %>
</div>