<div class="container">
  <div class="row">
    <div class="col-12">
        <h1 class="page-title text-right">Edit My page</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="page-title-translate">会員情報編集</p>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <!-- ユーザー詳細 -->
    <div class="col-10 users-container mt-5" style="width: 100%; border: solid black 2px;">
      <div class="user-profile">
        <%= attachment_image_tag @user, :profile_image, class: "rounded-circle float-left", size: "150x150" ,fallback: "noimage.png" %>
        <p style="">名前　：　<%= @user.name %></p>
        <p>メールアドレス　：　<%= @user.email %></p>
        <%= link_to '更新', edit_user_path(@user.id), class: "btn btn-success" %>
      </div>
    </div>
    <!-- /ユーザー詳細 -->
    <div class="col-1"></div>
  </div>
</div>