<h1 class="page-title">About this site</h1>
<p class="page-title-translate">このサイトについて</p>

  <div class="about-content">
    <p class="about-text">
      このサイトは観葉植物専門の交流サイトです。<br>
      観葉植物の写真投稿閲覧、育て方や植物に関する情報記事の閲覧ができます。<br>
      会員登録をすることで、写真を投稿・他のユーザーの投稿に対していいねやコメントを送ることができます。
    </p>
  </div>
  <div class="about-content">
    <h3>Thema <span class="about-min-title">テーマ</span></h3>

    <p class="about-text">
      サイトが提供する情報を観葉植物の購入や育成に役立ててもらう他、<br>
      ユーザー同士で情報を共有し合える交流の場として利用していただければ幸いです。
    </p>
  </div>