// Place all the styles related to the post_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* new.html */

.new-form {
  margin-top: 50px;
}

.new-field {
  margin-top: 30px;
}

/* index.html */

.post-container {
  border: solid gray 4px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background-color: white;
}

.plants-image {
  padding: 20px 0;
  overflow: hidden; /*内容がボックスに収まらない場合、収まらない部分は非表示となる。*/
  img {
    transition: all 0.5s; /*トランジションの効果を適用できる全てのプロパティを指定:トランジションの実行にかかる所要時間*/
    &:hover {
      transform: scale(1.1, 1.1); /*縮尺の設定：縮尺比率1.1倍*/
    }
  }
}

#post-title {
  display: inline;
  font-size: 18px;
  margin-left: 10px;
}

.post-details {
  margin: 0;
  padding: 15px 0 0 15px;
  list-style: none;
  display: inline-block;
  li {
    display: inline-block;
  }
}

.side-left{
  background-image: image-url("side-visual3.jpg");
  background-size: cover;
  background-position: left;
  opacity: 0.6;
}

.side-right{
  background-image: image-url("side-visual3.jpg");
  background-size: cover;
  background-position: right;
  opacity: 0.6;
}

/* show.html */

.post_images_container {
  width: 100%;
  border: solid gray 2px;
  border-radius: 30px 30px 30px 30px;
}

.postimage-title {
  width: 80%;
  margin: 0 auto;
  h2 {
    font-weight: bold;
  }
}

.attachment.post_image.image {
  margin: 20px 0;
}

.content {
    position: relative;
    width: 80%;
    margin: 2em auto;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
.content .content-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.content p {
    margin: 0;
    padding: 0;
}

.post-users-content {
  margin: 0 auto;
  width: 80%;
}

.link-btn {
  width: 80%;
  margin: 40px auto 20px;
}

.link-left, .link-right {
  width: 49%;
  display: inline-block;
}

/* 共通 */

.col-12 {
  padding: 0;
}
